<p>datos-alumno works!</p>
<div class="row">
    <div class="col-6">
        <form>
            <div class="mb-3">
                <label for="matricula" class="form-label">Matricula</label>
                <input type="text" placeholder="Matricula" class="form-control">
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" placeholder="Nombre" class="form-control">
            </div>
            <div class="mb-3">
                <label for="amaterno" class="form-label">Apellido Materno</label>
                <input type="text" placeholder="amaterno" class="form-control">
            </div>
            <div class="mb-3">
                <label for="apaterno" class="form-label">Apellido Paterno</label>
                <input type="text" placeholder="apaterno" class="form-control">
            </div>
            <div class="mb-3">
                <label for="correo" class="form-label">Correo</label>
                <input type="text" placeholder="correo" class="form-control">
            </div>
        </form>
    </div>
    <div class="col-6"></div>
</div>